
*{
    margin: 0;
}

header{
    background-image:url(../img/pattern.png);
    background-color: rgb(47, 130, 255);
    background-size: contain;
    height: 200px;
    position: relative;
    
}

#logo{
    height: 100px;
    position: absolute;
    bottom: 0;
}

.autore{
    color: gray;
    font-weight: 900;
}

#link{
    color:rgb(0, 184, 245);
}

#data{
    font-size: 10px;
}

.info-photo{
    font-size: 10px;
}

.testo-evidenziato{
    background-color: yellow;
}