
*{
    margin: 0;
}

header{
    background-image:url(../img/pattern.png);
    background-color: rgb(49, 130, 252);
    background-size: contain;
    height: 200px;
    position: relative;
    
}

#logo{
    height: 100px;
    position: absolute;
    bottom: 0;
}
